{% load staticfiles %} {% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<body>
    <div class="chat-content">
        <h1>{{ room.label }}</h1>
        <hr>
        <p class="quiet">
            Кто-угодно может зайти в чат по этому адресу:
            <code>{{ request.scheme }}://{{ request.get_host }}/{{ room.label }}</code>
        </p>
        <hr>
        <p>
            <input id="handle" class="form-control lg" type="text" placeholder="Имя">
        </p>
        <br>
        <form id="chatform">
            <div class="row chat">
                <div class="pre-scrollable col s8" id="chat">
                    {% for message in messages %}
                      <div class="col s4">{{ message.handle }}</div>
                      <div class="col s8">{{ message.message }}</div>
                    {% endfor %}
                </div>
                <div class="input-field col s8">
                    <textarea id="message" placeholder="Cообщение" class="materialize-textarea"></textarea>
                    <button type="submit" class='btn btn-primary' id="go">Отправить</button>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript" src='{% static "js/jquery-1.12.1.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/chat.js" %}'></script>
</body>

<style>
    body {
        background-image: url("{% static 'img/background2.png' %}");
    }
</style>
