{% load staticfiles %} {% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<body>
    <div class="chat-content">
        <h1>{{ room.label }}</h1>
        <hr>
        <p class="quiet">
            Кто-угодно может зайти в чат по этому адресу:
            <code>{{ request.scheme }}://{{ request.get_host }}/{{ room.label }}</code>
        </p>
        <hr>
        <p>
            <label for="handle">Ваше имя:</label>
            <input id="handle" class="form-control lg" type="text" placeholder="Имя">
        </p>
        <form id="chatform">
            <div class="row pre-scrollable col-md-7" id="chat">
                    {% for message in messages %}
                    <div class="col-md-4">{{ message.handle }}</div>
                    <div class="col-md-8">{{ message.message }}</div>
                    {% endfor %}
            </div>
            <div class="row">
                <div class="form-group col-md-7 comment">
                    <label for="message">Сообщение:</label>
                    <textarea class="form-control" id="message"></textarea>
                    <button type="submit" class='btn btn-primary' id="go">Отправить</button>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript" src='{% static "js/jquery-1.12.1.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/chat.js" %}'></script>
</body>

<style>
    body {
        background-image: url("{% static 'img/background2.png' %}");
    }
</style>
