div#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#new {
    background-color: white;
    color: #04301c;
    border: 2px solid #074729;
    border-radius: 7px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20pt;
    transition-duration: 0.2s;
}

#new:hover {
    background-color: #0c7a46;
    color: white;
}

.chat-content {
  width: 80%;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  margin-top: 30px;
  padding-left: 20px;
  padding-top: 10px;
  height: 100%;
}

.comment {
  margin-top: 20px;
}

#handle {
  width: 30%;
}

#message {
  margin-top: 10px;
}
