div#container-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    position: relative;
}

div#container-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    position: relative;
}

.btn-group {
  position: absolute;
}

.facebook-auth-btn {
    top: 30px;
}

#new {
    background-color: white;
    color: #04301c;
    border: 2px solid #074729;
    border-radius: 7px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20pt;
    transition-duration: 0.2s;
    position: absolute;
    bottom: 0;
}

.logout {
  background-color: #6965b2;
  color: white;
  border: 2px solid #2a2756;
  border-radius: 4px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12pt;
  position: absolute;
  top: 30;
}

#new:hover {
    background-color: #0c7a46;
    color: white;
}

.chat-content {
    width: 60%;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 3px;
    height: 100%;
}

.comment {
    margin-top: 20px;
}

#handle {
    width: 30%;
}

#message {
    margin-bottom: 10px;
}

.hello {
  font-size: 22pt;
}
